@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Redressed&family=Varela+Round&display=swap'); /* Redressed */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Quicksand:wght@300..700&family=Redressed&family=Varela+Round&display=swap'); /* Quicksand */

body{
    display: flex;
    flex-direction: column;

    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to bottom, #091b7d, #400e7a);

    font-size: 20px;
    font-family: "Redressed", sans-serif;
}

p{
    font-family: "Quicksand", sans-serif;
}

img{
    width: 150px;
    height: auto;
}

.login-container{
    background-color: white;
    padding: 4%;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 5px 1px 15px black; /* Desplazamiento horizontal | vertical | difuminado */
} 

#form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 8px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button{
    background-color: #000000;
    color: white;
    border: none;
    margin-top: 10px;
    width: 10vh;
    height: 5vh;

    /*  margin: auto; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    
    font-size: 80%;
    font-family: "Redressed", sans-serif;
 }

button:hover{
    background-color: #141d20;
}